@using Demo1_ASP_MVC.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.ModelBinding

@{
    var modelState = ViewContext.ModelState;
}

@model Demo1_ASP_MVC.Models.ViewModels.AuthLoginFormVM



@if(!modelState.IsValid){
    <div class="container alert alert-danger">
        <p>Il y a dans ce formulaire : @modelState.ErrorCount erreur(s)</p>
        <dl>
            @foreach (KeyValuePair<string, ModelStateEntry> errors in modelState)
            {
                @if(errors.Value.Errors.Count > 0){
                    <dt>@errors.Key :</dt>
                    <dd>
                        <ul>
                        @foreach (ModelError error in errors.Value.Errors)
                        {
                            <li>@error.ErrorMessage</li>
                        }
                        </ul>
                    </dd>
                }
            }
        </dl>
    </div>
}

<form  asp-action="Login" class="container d-flex flex-column justify-content-center">

    <h2> Connectez-vous </h2>

    <div>
      
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" style="width: 50vh" value="toto"/>
        <span asp-validation-for="Email" class="alert-danger"></span>
    </div>

    <div>
       
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" style="width: 50vh" value="Test1234="/> 
        <span asp-validation-for="Password" class="alert-danger"></span>
    </div>

    <br/>

    <div>
        <input class="btn btn-info" type="submit" value="Se connecter"/>
    </div>

</form>

