@using Demo1_ASP_MVC.Service

@inject SessionManager _sessionManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Bienvenue @_sessionManager.FirstName</h1>
</div>
