@model Demo1_ASP_MVC.Models.ViewModels.PokemonVM.InsertPokemonVM


<div class="container">
     <h1> Ajouter un contact</h1>
    <form asp-action="Insert">

           <div class="form-group">
            <label asp-for=Image></label>
            <input type="file"  class="form-control" asp-for="Image" accept="Image">
            <span asp-validation-for=FrenchName class="alert-danger"></span>
          </div>

          <div class="form-group">
            <label asp-for=FrenchName></label>
            <input type="text" class="form-control" id="" asp-for=FrenchName >
            <span asp-validation-for=FrenchName class="alert-danger"></span>
          </div>

          <div class="form-group">
            <label asp-for=EnglishName></label>
            <input type="text" class="form-control" id="" asp-for=EnglishName >
            <span asp-validation-for=EnglishName class="alert-danger"></span>
          </div>

          <br />
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Ajouter</button>
            <a  class="btn btn-danger" asp-action="ListPokemon">Annuler</a>

          </div>   
    </form>
</div>
